if SHIELD_PTERO_DACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "ptero-dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_PTERO_DACTYL_LEFT

if SHIELD_PTERO_DACTYL_LEFT || SHIELD_PTERO_DACTYL_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_PTERO_DACTYL_LEFT || SHIELD_PTERO_DACTYL_RIGHT

if SHIELD_PTERO_DACTYL_RIGHT

config SPI
    default y

endif